.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.head {
	width: 220px;
	height: 70px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.toLoginSpan {
	color: #50C4F7;
}

.toLoginSpan:hover {
	cursor: pointer;
}

.body {
	width: 220px;
	height: 220px;
}

.randomItem,
.lineItem {
	margin-top: 10px;
}
